@import "../../../styles/_var.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formElement {
  div {
    padding: 10px 0;
  }

  input {
    border-radius: 10px;
    border-color: black;
    outline: none;
    line-height: 19px;
    padding: 11px 11px 12px 11px;
    color: var(--form-text);
    font-size: 16px;
  }
}

.formSubmit {
  text-align: center;
  input {
    padding: 10px;
    margin: 15px 0;
  }
}