@import "../../../styles/_var.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  background: $bgColor;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  a {
    text-decoration: none;

    &:visited, &:link {
      color: $logoColor;
    }
  }
}

.logo {
  font-size: 35px;
  display: inline-block;
}

.menu {
  display: inline-flex;
  align-items: center;
  gap: 100px;

  .greeting {
    color: $greetingColor;
  }

  a {

    &:visited, &:link {
      color: $linkColor;
    }
  }
}