.searchResult{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content:flex-start;
    &:not(:last-child){
        border-bottom: 1px solid lightgray;
        margin-bottom: 10px;
    }
    &__desc{
        margin-left: 60px;
        width: 25%;
    }
    &__img{
     height: 100px;
    }
    &__button{
        margin-left: auto;
    }
    &__likeButton{
        margin-left: 20px;
    }
}
