$mainColor: #3b5998;
$textColor: #ffff;

// HEADER
//Palette
//https://coolors.co/palette/588b8b-ffffff-ffd5c2-f28f3b-c8553d
$logoColor: #c8553d;
$linkColor: #588b8b;
$bgColor_light: #ffd5c2;
$greetingColor: #d37764;
$blackColor: black;
$whiteColor: white;
//

// SEARCH
$bgColor_dark: #291F1E;
$searchResults_dark: #402039;
$searchResultsError_dark: #ff2e2e;
//$searchResultsText_dark: #f7f7f7;
$searchResultsText_dark: #E2FCEF;
//

// CARD
$cardBg_dark: #170F11

//