$mainColor: #3b5998;
$textColor: #ffff;

// HEADER
//Palette
//https://coolors.co/palette/588b8b-ffffff-ffd5c2-f28f3b-c8553d
$logoColor: #c8553d;
$linkColor: #588b8b;
$bgColor: #ffd5c2;
$greetingColor: #d37764;
//