@import "../../../../styles/_var.scss";

.searchItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  &:not(:last-child){
      margin-bottom: 30px;
  }
  &__name{
    text-decoration: none;
    color: black;
    &:hover{
      text-decoration:underline;
 }
  }
}

.searchItem_dark {
  border: none;

  a {
    color: $searchResultsText_dark;
  }
}