@import "../../../styles/_var.scss";

.container {
  padding: 50px;
  position: relative;
}

.search {
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
}

.searchResults {
  position: absolute;
  z-index: 2;
  background-color: white;
  padding: 40px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid lightgrey;
  left: 30%;
  right: 30%;

  &__errorMessage {
    color: red;
    align-self: center;
    text-align: center;
  }
}

.searchDark {
  background-color: $bgColor_dark;

  .search {
    border-color: $whiteColor;
    background-color: black;
    color: white;
  }

  .searchResults {
    background: $searchResults_dark;
    color: $searchResultsText_dark;

    &__errorMessage {
      color: $searchResultsError_dark;
    }
  }
}